.v-main-color{
	color: #303133;
}
.v-content-color{
	color: #606266;
}
.v-tip-color{
	color: #909399;
}
.v-light-color{
	color: #c0c4cc;
}
.v-title-color {
	color: #536dfe;
}
.v-white-color{
	color: #FFFFFF;
}
.v-back-white-color{
	background-color: #FFFFFF;
}
.v-page-back-color{
	background-color: #f8f8f8;
}
