.v-fs-4{font-size: 4rpx;}
.v-fs-6{font-size: 6rpx;}
.v-fs-8{font-size: 8rpx;}
.v-fs-10{font-size: 10rpx;}
.v-fs-12{font-size: 12rpx;}
.v-fs-14{font-size: 14rpx;}
.v-fs-16{font-size: 16rpx;}
.v-fs-18{font-size: 18rpx;}
.v-fs-20{font-size: 20rpx;}
.v-fs-22{font-size: 22rpx;}
.v-fs-24{font-size: 24rpx;}
.v-fs-26{font-size: 26rpx;}
.v-fs-28{font-size: 28rpx;}
.v-fs-30{font-size: 30rpx;}
.v-fs-32{font-size: 32rpx;}
.v-fs-34{font-size: 34rpx;}
.v-fs-36{font-size: 36rpx;}
.v-fs-38{font-size: 38rpx;}
.v-fs-40{font-size: 40rpx;}
.v-fs-42{font-size: 42rpx;}
.v-fs-44{font-size: 44rpx;}
.v-fs-46{font-size: 46rpx;}
.v-fs-48{font-size: 48rpx;}
.v-fs-50{font-size: 50rpx;}
.v-fs-52{font-size: 52rpx;}
.v-fs-54{font-size: 54rpx;}
.v-fs-56{font-size: 56rpx;}
.v-fs-58{font-size: 58rpx;}
.v-fs-60{font-size: 60rpx;}
.v-fs-62{font-size: 62rpx;}
.v-fs-64{font-size: 64rpx;}
.v-fs-66{font-size: 66rpx;}
.v-fs-68{font-size: 68rpx;}
.v-fs-70{font-size: 70rpx;}
.v-fs-72{font-size: 72rpx;}
.v-fs-74{font-size: 74rpx;}
.v-fs-76{font-size: 76rpx;}
.v-fs-78{font-size: 78rpx;}
.v-fs-80{font-size: 80rpx;}
.v-fs-82{font-size: 82rpx;}
.v-fs-84{font-size: 84rpx;}
.v-fs-86{font-size: 86rpx;}
.v-fs-88{font-size: 88rpx;}
.v-fs-90{font-size: 90rpx;}
.v-fs-92{font-size: 92rpx;}
.v-fs-94{font-size: 94rpx;}
.v-fs-96{font-size: 96rpx;}
.v-fs-98{font-size: 98rpx;}
.v-fs-100{font-size: 100rpx;}
