.v-p-4{padding: 4rpx;}
.v-p-t-4{padding-top: 4rpx;}
.v-p-b-4{padding-bottom: 4rpx;}
.v-p-l-4{padding-left: 4rpx;}
.v-p-r-4{padding-right: 4rpx;}
.v-p-6{padding: 6rpx;}
.v-p-t-6{padding-top: 6rpx;}
.v-p-b-6{padding-bottom: 6rpx;}
.v-p-l-6{padding-left: 6rpx;}
.v-p-r-6{padding-right: 6rpx;}
.v-p-8{padding: 8rpx;}
.v-p-t-8{padding-top: 8rpx;}
.v-p-b-8{padding-bottom: 8rpx;}
.v-p-l-8{padding-left: 8rpx;}
.v-p-r-8{padding-right: 8rpx;}
.v-p-10{padding: 10rpx;}
.v-p-t-10{padding-top: 10rpx;}
.v-p-b-10{padding-bottom: 10rpx;}
.v-p-l-10{padding-left: 10rpx;}
.v-p-r-10{padding-right: 10rpx;}
.v-p-12{padding: 12rpx;}
.v-p-t-12{padding-top: 12rpx;}
.v-p-b-12{padding-bottom: 12rpx;}
.v-p-l-12{padding-left: 12rpx;}
.v-p-r-12{padding-right: 12rpx;}
.v-p-14{padding: 14rpx;}
.v-p-t-14{padding-top: 14rpx;}
.v-p-b-14{padding-bottom: 14rpx;}
.v-p-l-14{padding-left: 14rpx;}
.v-p-r-14{padding-right: 14rpx;}
.v-p-16{padding: 16rpx;}
.v-p-t-16{padding-top: 16rpx;}
.v-p-b-16{padding-bottom: 16rpx;}
.v-p-l-16{padding-left: 16rpx;}
.v-p-r-16{padding-right: 16rpx;}
.v-p-18{padding: 18rpx;}
.v-p-t-18{padding-top: 18rpx;}
.v-p-b-18{padding-bottom: 18rpx;}
.v-p-l-18{padding-left: 18rpx;}
.v-p-r-18{padding-right: 18rpx;}
.v-p-20{padding: 20rpx;}
.v-p-t-20{padding-top: 20rpx;}
.v-p-b-20{padding-bottom: 20rpx;}
.v-p-l-20{padding-left: 20rpx;}
.v-p-r-20{padding-right: 20rpx;}
.v-p-22{padding: 22rpx;}
.v-p-t-22{padding-top: 22rpx;}
.v-p-b-22{padding-bottom: 22rpx;}
.v-p-l-22{padding-left: 22rpx;}
.v-p-r-22{padding-right: 22rpx;}
.v-p-24{padding: 24rpx;}
.v-p-t-24{padding-top: 24rpx;}
.v-p-b-24{padding-bottom: 24rpx;}
.v-p-l-24{padding-left: 24rpx;}
.v-p-r-24{padding-right: 24rpx;}
.v-p-26{padding: 26rpx;}
.v-p-t-26{padding-top: 26rpx;}
.v-p-b-26{padding-bottom: 26rpx;}
.v-p-l-26{padding-left: 26rpx;}
.v-p-r-26{padding-right: 26rpx;}
.v-p-28{padding: 28rpx;}
.v-p-t-28{padding-top: 28rpx;}
.v-p-b-28{padding-bottom: 28rpx;}
.v-p-l-28{padding-left: 28rpx;}
.v-p-r-28{padding-right: 28rpx;}
.v-p-30{padding: 30rpx;}
.v-p-t-30{padding-top: 30rpx;}
.v-p-b-30{padding-bottom: 30rpx;}
.v-p-l-30{padding-left: 30rpx;}
.v-p-r-30{padding-right: 30rpx;}
.v-p-32{padding: 32rpx;}
.v-p-t-32{padding-top: 32rpx;}
.v-p-b-32{padding-bottom: 32rpx;}
.v-p-l-32{padding-left: 32rpx;}
.v-p-r-32{padding-right: 32rpx;}
.v-p-34{padding: 34rpx;}
.v-p-t-34{padding-top: 34rpx;}
.v-p-b-34{padding-bottom: 34rpx;}
.v-p-l-34{padding-left: 34rpx;}
.v-p-r-34{padding-right: 34rpx;}
.v-p-36{padding: 36rpx;}
.v-p-t-36{padding-top: 36rpx;}
.v-p-b-36{padding-bottom: 36rpx;}
.v-p-l-36{padding-left: 36rpx;}
.v-p-r-36{padding-right: 36rpx;}
.v-p-38{padding: 38rpx;}
.v-p-t-38{padding-top: 38rpx;}
.v-p-b-38{padding-bottom: 38rpx;}
.v-p-l-38{padding-left: 38rpx;}
.v-p-r-38{padding-right: 38rpx;}
.v-p-40{padding: 40rpx;}
.v-p-t-40{padding-top: 40rpx;}
.v-p-b-40{padding-bottom: 40rpx;}
.v-p-l-40{padding-left: 40rpx;}
.v-p-r-40{padding-right: 40rpx;}
.v-p-42{padding: 42rpx;}
.v-p-t-42{padding-top: 42rpx;}
.v-p-b-42{padding-bottom: 42rpx;}
.v-p-l-42{padding-left: 42rpx;}
.v-p-r-42{padding-right: 42rpx;}
.v-p-44{padding: 44rpx;}
.v-p-t-44{padding-top: 44rpx;}
.v-p-b-44{padding-bottom: 44rpx;}
.v-p-l-44{padding-left: 44rpx;}
.v-p-r-44{padding-right: 44rpx;}
.v-p-46{padding: 46rpx;}
.v-p-t-46{padding-top: 46rpx;}
.v-p-b-46{padding-bottom: 46rpx;}
.v-p-l-46{padding-left: 46rpx;}
.v-p-r-46{padding-right: 46rpx;}
.v-p-48{padding: 48rpx;}
.v-p-t-48{padding-top: 48rpx;}
.v-p-b-48{padding-bottom: 48rpx;}
.v-p-l-48{padding-left: 48rpx;}
.v-p-r-48{padding-right: 48rpx;}
.v-p-50{padding: 50rpx;}
.v-p-t-50{padding-top: 50rpx;}
.v-p-b-50{padding-bottom: 50rpx;}
.v-p-l-50{padding-left: 50rpx;}
.v-p-r-50{padding-right: 50rpx;}
.v-p-52{padding: 52rpx;}
.v-p-t-52{padding-top: 52rpx;}
.v-p-b-52{padding-bottom: 52rpx;}
.v-p-l-52{padding-left: 52rpx;}
.v-p-r-52{padding-right: 52rpx;}
.v-p-54{padding: 54rpx;}
.v-p-t-54{padding-top: 54rpx;}
.v-p-b-54{padding-bottom: 54rpx;}
.v-p-l-54{padding-left: 54rpx;}
.v-p-r-54{padding-right: 54rpx;}
.v-p-56{padding: 56rpx;}
.v-p-t-56{padding-top: 56rpx;}
.v-p-b-56{padding-bottom: 56rpx;}
.v-p-l-56{padding-left: 56rpx;}
.v-p-r-56{padding-right: 56rpx;}
.v-p-58{padding: 58rpx;}
.v-p-t-58{padding-top: 58rpx;}
.v-p-b-58{padding-bottom: 58rpx;}
.v-p-l-58{padding-left: 58rpx;}
.v-p-r-58{padding-right: 58rpx;}
.v-p-60{padding: 60rpx;}
.v-p-t-60{padding-top: 60rpx;}
.v-p-b-60{padding-bottom: 60rpx;}
.v-p-l-60{padding-left: 60rpx;}
.v-p-r-60{padding-right: 60rpx;}
.v-p-62{padding: 62rpx;}
.v-p-t-62{padding-top: 62rpx;}
.v-p-b-62{padding-bottom: 62rpx;}
.v-p-l-62{padding-left: 62rpx;}
.v-p-r-62{padding-right: 62rpx;}
.v-p-64{padding: 64rpx;}
.v-p-t-64{padding-top: 64rpx;}
.v-p-b-64{padding-bottom: 64rpx;}
.v-p-l-64{padding-left: 64rpx;}
.v-p-r-64{padding-right: 64rpx;}
.v-p-66{padding: 66rpx;}
.v-p-t-66{padding-top: 66rpx;}
.v-p-b-66{padding-bottom: 66rpx;}
.v-p-l-66{padding-left: 66rpx;}
.v-p-r-66{padding-right: 66rpx;}
.v-p-68{padding: 68rpx;}
.v-p-t-68{padding-top: 68rpx;}
.v-p-b-68{padding-bottom: 68rpx;}
.v-p-l-68{padding-left: 68rpx;}
.v-p-r-68{padding-right: 68rpx;}
.v-p-70{padding: 70rpx;}
.v-p-t-70{padding-top: 70rpx;}
.v-p-b-70{padding-bottom: 70rpx;}
.v-p-l-70{padding-left: 70rpx;}
.v-p-r-70{padding-right: 70rpx;}
.v-p-72{padding: 72rpx;}
.v-p-t-72{padding-top: 72rpx;}
.v-p-b-72{padding-bottom: 72rpx;}
.v-p-l-72{padding-left: 72rpx;}
.v-p-r-72{padding-right: 72rpx;}
.v-p-74{padding: 74rpx;}
.v-p-t-74{padding-top: 74rpx;}
.v-p-b-74{padding-bottom: 74rpx;}
.v-p-l-74{padding-left: 74rpx;}
.v-p-r-74{padding-right: 74rpx;}
.v-p-76{padding: 76rpx;}
.v-p-t-76{padding-top: 76rpx;}
.v-p-b-76{padding-bottom: 76rpx;}
.v-p-l-76{padding-left: 76rpx;}
.v-p-r-76{padding-right: 76rpx;}
.v-p-78{padding: 78rpx;}
.v-p-t-78{padding-top: 78rpx;}
.v-p-b-78{padding-bottom: 78rpx;}
.v-p-l-78{padding-left: 78rpx;}
.v-p-r-78{padding-right: 78rpx;}
.v-p-80{padding: 80rpx;}
.v-p-t-80{padding-top: 80rpx;}
.v-p-b-80{padding-bottom: 80rpx;}
.v-p-l-80{padding-left: 80rpx;}
.v-p-r-80{padding-right: 80rpx;}
.v-p-82{padding: 82rpx;}
.v-p-t-82{padding-top: 82rpx;}
.v-p-b-82{padding-bottom: 82rpx;}
.v-p-l-82{padding-left: 82rpx;}
.v-p-r-82{padding-right: 82rpx;}
.v-p-84{padding: 84rpx;}
.v-p-t-84{padding-top: 84rpx;}
.v-p-b-84{padding-bottom: 84rpx;}
.v-p-l-84{padding-left: 84rpx;}
.v-p-r-84{padding-right: 84rpx;}
.v-p-86{padding: 86rpx;}
.v-p-t-86{padding-top: 86rpx;}
.v-p-b-86{padding-bottom: 86rpx;}
.v-p-l-86{padding-left: 86rpx;}
.v-p-r-86{padding-right: 86rpx;}
.v-p-88{padding: 88rpx;}
.v-p-t-88{padding-top: 88rpx;}
.v-p-b-88{padding-bottom: 88rpx;}
.v-p-l-88{padding-left: 88rpx;}
.v-p-r-88{padding-right: 88rpx;}
.v-p-90{padding: 90rpx;}
.v-p-t-90{padding-top: 90rpx;}
.v-p-b-90{padding-bottom: 90rpx;}
.v-p-l-90{padding-left: 90rpx;}
.v-p-r-90{padding-right: 90rpx;}
.v-p-92{padding: 92rpx;}
.v-p-t-92{padding-top: 92rpx;}
.v-p-b-92{padding-bottom: 92rpx;}
.v-p-l-92{padding-left: 92rpx;}
.v-p-r-92{padding-right: 92rpx;}
.v-p-94{padding: 94rpx;}
.v-p-t-94{padding-top: 94rpx;}
.v-p-b-94{padding-bottom: 94rpx;}
.v-p-l-94{padding-left: 94rpx;}
.v-p-r-94{padding-right: 94rpx;}
.v-p-96{padding: 96rpx;}
.v-p-t-96{padding-top: 96rpx;}
.v-p-b-96{padding-bottom: 96rpx;}
.v-p-l-96{padding-left: 96rpx;}
.v-p-r-96{padding-right: 96rpx;}
.v-p-98{padding: 98rpx;}
.v-p-t-98{padding-top: 98rpx;}
.v-p-b-98{padding-bottom: 98rpx;}
.v-p-l-98{padding-left: 98rpx;}
.v-p-r-98{padding-right: 98rpx;}
.v-p-100{padding: 100rpx;}
.v-p-t-100{padding-top: 100rpx;}
.v-p-b-100{padding-bottom: 100rpx;}
.v-p-l-100{padding-left: 100rpx;}
.v-p-r-100{padding-right: 100rpx;}
